.about-us {
  padding: 50px 100px;
  background-color: rgb(247, 244, 244);
  display: flex;
  justify-content: space-between;
}
.about-section {
  margin-right: 20px;
}
.about-icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 20px;
}

.about-title {
  color: var(--accent);
}
