.activity {
  background-color: rgb(247, 244, 244);
  margin-top: 0;
  height: 700px;
  padding-top: 50px;
}

.activity-list {
  display: flex;
  position: relative;
  margin-left: 50px;
}

.activity-btn {
  width: 30%;
  min-height: 50px;
  background-color: var(--button-color);
  border: none;
  margin-bottom: 10px;
  color: rgb(240, 248, 255);
  font-size: 20px;
}

.activity-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-left: solid rgb(255, 255, 0);
}

.activity-text {
  position: absolute;
  width: 60%;
  margin-left: 30%;
  top: 0;
  display: none;
  padding-left: 50px;
  background-color: rgb(255, 255, 255);
  padding-right: 20px;
}
.activity-text h3 {
  color: var(--accent);
}
.activity-text-section {
  display: flex;
}
.activity-text-subsection h3 {
  color: var(--accent);
}
.activity-text-subsection {
  padding-right: 20px;
}
@media (max-width: 992px) {
  .activity {
    height: 950px;
  }
}
@media (max-width: 768px) {
  .activity {
    height: 1100px;
  }
}
@media (max-width: 550px) {
  .activity {
    height: 1320px;
  }
  .activity-text-section {
    flex-direction: column;
  }
}
