.footer {
  background-color: var(--main-background-color);
  margin-top: 0;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}
.footer-heading {
  color: rgb(255, 255, 255);
}
.footer-list {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}
.footer-link {
  color: rgb(255, 255, 0);

  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}
.address {
  color: rgb(255, 255, 255);
  font-style: normal;
}
.footer-tel {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-style: normal;
}
.footer-copy {
  color: rgb(255, 255, 255);
}
