body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  max-width: 1920px;
  min-width: 320px;
}

@media (max-width: 992px) {
  body {
    max-width: 950px;
  }

  header {
    flex-direction: column;
  }
  .tof {
    flex-direction: column;
  }
  .video {
    flex-direction: column;
  }
  .trd {
    flex-direction: column;
  }
  .fourthsection {
    flex-direction: column;
  }
  .empquot {
    flex-direction: column;
  }
  .but {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  body {
    max-width: none;
  }
}

/* header styles */
header {
  background-color: lightseagreen;
  padding: 0 100px 50px 100px;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/photo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hosting {
  font-size: 20px;
  color: aliceblue;
  padding-top: 50px;
}
.header-title1 {
  color: gold;
  font-size: 50px;
  margin-bottom: 0;
}
.header-title2 {
  color: gold;
  font-size: 30px;
  padding-top: 0;
  margin-top: 0;
}
.ulflex {
  display: flex;
}
.ul1 {
  color: aliceblue;
  padding-left: 20px;
  line-height: 2;
  list-style-image: url("../check.png");
}
.ul2 {
  color: aliceblue;
  line-height: 2;
  list-style-image: url("../check.png");
}
.price {
  margin-top: 130px;
  font-size: 20px;
  text-align: right;

  color: aliceblue;
  line-height: 1;
}
.start {
  margin-bottom: 0;
  padding-top: 10px;
}
.start-cost {
  margin-top: 0;
  margin-bottom: 30px;
}
.cost {
  font-size: 110px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.button1 {
  height: 60px;
  background-color: gold;
  border: none;
  color: black;
  font-size: 25px;
  padding: 0 50px;
  margin-top: 30px;
}
