:root {
  --main-background-color: rgb(32, 178, 170);
  --button-color: rgb(32, 178, 170);
  --accent: rgb(32, 178, 170);
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

@media (max-width: 992px) {
  body {
    max-width: 950px;
    font-size: 20px;
  }

  header {
    flex-direction: column;
  }

  .types-hosting {
    flex-direction: column;
  }
  .video {
    flex-direction: column;
  }
  .get-started {
    flex-direction: column;
  }
  .about-us {
    flex-direction: column;
  }
  .team {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }

  h2 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: none;
  }
}

/* header styles */
header {
  background-color: var(--main-background-color);
  padding: 0 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/photo1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hosting {
  font-size: 25px;
  color: rgb(240, 248, 255);
  padding-top: 50px;
}
.header-title1 {
  color: rgb(255, 215, 0);
  font-size: 60px;
  margin-bottom: 0;
}
.header-title2 {
  color: rgb(255, 215, 0);
  padding-top: 0;
  margin-top: 0;
}
.header-list {
  display: flex;
}
.header-list-item {
  color: rgb(240, 248, 255);
  padding-left: 20px;
  line-height: 2;
  list-style-image: url("../check.png");
}

.price {
  margin-top: 130px;
  text-align: right;

  color: rgb(240, 248, 255);
  line-height: 1;
}
.start {
  margin-bottom: 0;
  padding-top: 10px;
}
.start-cost {
  margin-top: 0;
  margin-bottom: 30px;
}
.cost {
  font-size: 110px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.header-btn {
  height: 60px;
  background-color: rgb(255, 215, 0);
  border: none;
  color: rgb(0, 0, 0);
  padding: 0 50px;
  margin-top: 30px;
  font-size: 25px;
}
@media (max-width: 992px) {
  .header-btn {
    width: 50%;
    min-height: 80px;
  }
}
@media (max-width: 768px) {
  .header-btn {
    width: 80%;
    min-height: 80px;
  }
}
