.subscribe-sec {
  background-color: rgb(255, 255, 0);
  margin-top: 0;
  padding: 30px 50px;
}
.sub-label {
  font-size: 26px;
  margin-right: 20px;
}

.input {
  width: 60%;
  height: 40px;
  border: none;
}
.subscribe-btn {
  width: 15%;
  min-width: 100px;
  height: 40px;
  background-color: var(--button-color);
  border: none;
  color: rgb(255, 255, 255);
}
.subscribe-text {
  color: var(--accent);
  font-size: 3vh;
}
@media (max-width: 768px) {
  .subscribe-btn {
    width: 50%;
    min-height: 70px;
    font-size: 20px;
  }
}
