.team-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.team {
  background-color: var(--main-background-color);
  padding: 50px 50px;
  display: flex;
  color: rgb(240, 248, 255);
  line-height: 2;
  font-weight: 700;
  justify-content: space-between;
}
.team-mate {
  color: rgb(255, 255, 0);
}
.team-text {
  padding-right: 50px;
  text-align: justify;
}
