.types {
  background-color: rgb(247, 244, 244);
  padding-top: 30px;
}
.types-hosting {
  display: flex;
  margin: 0 50px;
  justify-content: space-between;
}

.types-hosting-section {
  box-shadow: 10px 10px 5px rgb(170, 168, 168);
  background-color: rgb(255, 255, 255);
  padding-bottom: 30px;
}
.reseller {
  color: lightseagreen;
  background-color: rgb(255, 215, 0);
  padding: 10px 0 20px 20px;
  line-height: 0.5;
}
.reseller-title {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
.reseller-price {
  font-size: 40px;
}
.types-hosting-list {
  line-height: 1.6;
  list-style: none;
  padding: 0 20px;
}
.types-hosting-btn {
  color: rgb(240, 248, 255);
  background-color: var(--button-color);
  border: none;
  font-size: 20px;
  margin-left: 20px;
  padding: 0 35px;
  height: 50px;
}
.vps {
  background-color: var(--main-background-color);
  padding: 10px 0 20px 20px;
  line-height: 0.5;
  color: rgb(255, 255, 255);
}
.vps-title {
  margin-bottom: 30px;
}
.vps-span {
  font-size: 40px;
  color: rgb(255, 215, 0);
}
.dedicated {
  background-color: rgb(241, 11, 11);
  padding: 10px 0 20px 20px;
  line-height: 0.5;
  color: rgb(255, 255, 255);
}
.dedicated-title {
  margin-bottom: 30px;
}
.dedicated-span {
  font-size: 40px;
  color: rgb(255, 215, 0);
}
.dedicated-svg {
  float: right;
  padding-top: 20px;
}
.video {
  display: flex;
  padding: 40px 50px;
}
.videotxt {
  margin-left: 30px;
}
